.dark {
    background: black;
    color: white;
}
.wrapper {
    width: 860px;
    margin: 0 auto;
    text-align: center;
}
.title {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-size: 46pt;
}
p {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 11pt;
    font-weight: 200;
    opacity: 0.8;
}
.hero {
    margin-top: 20px;
    width: 80%;
}
.download-button {
    background-color: #39CA74;
    margin-top: 35px !important;
    border-radius: 5px;
    width: 150px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 200;
    padding: 10px;
    margin: 0 auto;
}
.download-button:hover {
    background-color: #30AD63;
}
.heads-up {
    margin-top: 35px;
    font-size: 10pt;
}
.footer {
    font-size: 10pt;
    margin-top: 25px;
}
.link {
    text-decoration: none;
}
.twitter {
    color: #3A99D8;
}
.github {
    color: #A56DBC;
}
